<!DOCTYPE html>
<html ng-app='app'>
    <head>
        <meta http-equiv='content-type' content='text/html; charset=utf-8'>

        <script src='/js/angular.js'></script>
        <script src='/js/angular-route.js'></script>
        <script src='/js/angular-toastr.js'></script>

        <script src='/js/app.module.js'></script>

        <script src='/js/lib/logger.cjs.js'></script>
  
        <script src='/js/lib/router/router.module.js'></script>
        <script src='/js/lib/router/router.service.js'></script>

        <script src='/js/core/core.module.js'></script>
        <script src='/js/core/constants.js'></script>
        <script src='/js/core/config.js'></script>
        <script src='/js/core/data.service.js'></script>

        <script src='/js/layout/layout.module.js'></script>
        <script src='/js/layout/nav.controller.js'></script>
        <script src='/js/layout/shell.controller.js'></script>

        <script src='/js/directives/directives.module.js'></script>
        <script src='/js/directives/d1.js'></script>

        <script src='/js/foo/foo.module.js'></script>
        <script src='/js/foo/foo.service.js'></script>
        <script src='/js/foo/foo.router.js'></script>
        <script src='/js/foo/foo.controller.js'></script>
        <script src='/js/foo/foos.controller.js'></script>

<!--        <script src='/js/dashboard/dashboard.module.js'></script>-->
<!--        <script src='/js/dashboard/dashboard.service.js'></script>-->
<!--        <script src='/js/dashboard/dashboard.router.js'></script>-->
<!--        <script src='/js/dashboard/dashboard.controller.js'></script>-->
        <script src='/js/dashboard.cjs.js'></script>

        <title>Angular</title>
    </head>

    <body>
      <div ng-include='"/views/layout/shell.html"'>
    </body>
</html>
